<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Test App</title>
</head>
<body>
  <h1>Test App</h1>
  <p>Index Page - From Views</p>
  <p>Time is: <%= Time.now %></p>
  <form action="/" method="post">
    <input type="text" name="message">
    <input type="submit">
  </form>
</body>
</html>
